<!-- Sequence of block doesn't matter but it's not good practice for better readibility.  -->
{%extends 'base.html'%}

{%block title%} Homepage {%endblock title%} 

{%block body%}
    <h1> This is homepage . </h1>
    <h3> {{first_line}} </h3>
    <h4> {{second_line}} </h4>

<div class="container">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>

    {% for i in people %}
    <tr>
        <!-- i = {"name": "Arav", "age":"23", "Address": "ktm"}-->
      <th scope="row">  {{forloop.counter}} </th>
      <td>{{i.name}}</td>

   

      <td> 
           {% if  i.age <= 18 %}
      Underage
      {%elif i.age <= 50 %}
      Adult
      {% else%}
      Budho
    {%endif%}
         <!-- {{i.age}} -->
        
        </td>

      <td> {{i.address}} </td>
    </tr>

    {%endfor%}

  </tbody>

</div>

{%endblock body%}



