<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
</head>
<body>

    <h1> This is homepage . </h1>
    <h3> {{first_line}} </h3>
    <h4> {{second_line}} </h4>

<div class="container">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>

    {% for i in people %}
    <tr>
        <!-- i = {"name": "Arav", "age":"23", "Address": "ktm"}-->
      <th scope="row">  {{forloop.counter}} </th>
      <td>{{i.name}}</td>

   

      <td> 
           {% if  i.age <= 18 %}
      Underage
      {%elif i.age <= 50 %}
      Adult
      {% else%}
      Budho
    {%endif%}
         <!-- {{i.age}} -->
        
        </td>

      <td> {{i.address}} </td>
    </tr>

    {%endfor%}

  </tbody>
</table>
</div>


    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
 
</body>
</html>